.text-main {
  color: #199705 !important;
}
.bg-main {
  background-color: #199705 !important;
}
.border-main {
  border-color: #199705 !important;
}
.hover-text-main:hover {
  color: #199705 !important;
}
.hover-bg-main:hover {
  background-color: #199705 !important;
}
.hover-border-main:hover {
  border-color: #199705 !important;
}
.text-normal {
  color: #10242D !important;
}
.bg-normal {
  background-color: #10242D !important;
}
.border-normal {
  border-color: #10242D !important;
}
.hover-text-normal:hover {
  color: #10242D !important;
}
.hover-bg-normal:hover {
  background-color: #10242D !important;
}
.hover-border-normal:hover {
  border-color: #10242D !important;
}
.text-weak {
  color: #555 !important;
}
.bg-weak {
  background-color: #555 !important;
}
.border-weak {
  border-color: #555 !important;
}
.hover-text-weak:hover {
  color: #555 !important;
}
.hover-bg-weak:hover {
  background-color: #555 !important;
}
.hover-border-weak:hover {
  border-color: #555 !important;
}
.text-link {
  color: hsl(210, 90%, 54%) !important;
}
.bg-link {
  background-color: hsl(210, 90%, 54%) !important;
}
.border-link {
  border-color: hsl(210, 90%, 54%) !important;
}
.hover-text-link:hover {
  color: hsl(210, 90%, 54%) !important;
}
.hover-bg-link:hover {
  background-color: hsl(210, 90%, 54%) !important;
}
.hover-border-link:hover {
  border-color: hsl(210, 90%, 54%) !important;
}
.text-primary {
  color: #A2B000 !important;
}
.bg-primary {
  background-color: #A2B000 !important;
}
.border-primary {
  border-color: #A2B000 !important;
}
.hover-text-primary:hover {
  color: #A2B000 !important;
}
.hover-bg-primary:hover {
  background-color: #A2B000 !important;
}
.hover-border-primary:hover {
  border-color: #A2B000 !important;
}
.text-danger {
  color: hsl(12, 74%, 49%) !important;
}
.bg-danger {
  background-color: hsl(12, 74%, 49%) !important;
}
.border-danger {
  border-color: hsl(12, 74%, 49%) !important;
}
.hover-text-danger:hover {
  color: hsl(12, 74%, 49%) !important;
}
.hover-bg-danger:hover {
  background-color: hsl(12, 74%, 49%) !important;
}
.hover-border-danger:hover {
  border-color: hsl(12, 74%, 49%) !important;
}
.text-red {
  color: #F55F3E !important;
}
.bg-red {
  background-color: #F55F3E !important;
}
.border-red {
  border-color: #F55F3E !important;
}
.hover-text-red:hover {
  color: #F55F3E !important;
}
.hover-bg-red:hover {
  background-color: #F55F3E !important;
}
.hover-border-red:hover {
  border-color: #F55F3E !important;
}
.text-deepgray {
  color: #9E9E9E !important;
}
.bg-deepgray {
  background-color: #9E9E9E !important;
}
.border-deepgray {
  border-color: #9E9E9E !important;
}
.hover-text-deepgray:hover {
  color: #9E9E9E !important;
}
.hover-bg-deepgray:hover {
  background-color: #9E9E9E !important;
}
.hover-border-deepgray:hover {
  border-color: #9E9E9E !important;
}
.text-softgray {
  color: #FBFBFB !important;
}
.bg-softgray {
  background-color: #FBFBFB !important;
}
.border-softgray {
  border-color: #FBFBFB !important;
}
.hover-text-softgray:hover {
  color: #FBFBFB !important;
}
.hover-bg-softgray:hover {
  background-color: #FBFBFB !important;
}
.hover-border-softgray:hover {
  border-color: #FBFBFB !important;
}
.text-palegray {
  color: hsla(207, 15%, 74%, 0.1) !important;
}
.bg-palegray {
  background-color: hsla(207, 15%, 74%, 0.1) !important;
}
.border-palegray {
  border-color: hsla(207, 15%, 74%, 0.1) !important;
}
.hover-text-palegray:hover {
  color: hsla(207, 15%, 74%, 0.1) !important;
}
.hover-bg-palegray:hover {
  background-color: hsla(207, 15%, 74%, 0.1) !important;
}
.hover-border-palegray:hover {
  border-color: hsla(207, 15%, 74%, 0.1) !important;
}
.hover-text-white:hover {
  color: white !important;
}
.hover-text-white:hover .parent-hover-text-white {
  color: white !important;
}
.button {
  border-radius: 999px;
}
.button.primary {
  background-color: #A2B000 !important;
  border: none;
  color: white;
}
.button.danger {
  background-color: hsl(12, 74%, 49%) !important;
  border: none;
  color: white;
}
input,
textarea,
button {
  outline: none;
}
:root {
  --main-text-color: #10242D;
  --main-bg-color: white;
  --font-weight-bold: 700;
}
body {
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 500;
  color: var(--main-text-color);
  line-height: 1;
  width: 800px;
  max-width: 800px;
  height: 600px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}
textarea {
  line-height: 1.4;
}
p {
  line-height: 1.4;
  -webkit-tap-highlight-color: initial;
  -webkit-user-select: initial;
  -webkit-touch-callout: initial;
}
.w360 {
  width: 360px;
}
.h360 {
  height: 360px;
}
.s360 {
  width: 360px;
  height: 360px;
}
.w400 {
  width: 400px;
}
.h400 {
  height: 400px;
}
.s400 {
  width: 400px;
  height: 400px;
}
.w450 {
  width: 450px;
}
.h450 {
  height: 450px;
}
.s450 {
  width: 450px;
  height: 450px;
}
.m55 {
  margin: 55px;
}
.mb55 {
  margin-bottom: 55px;
}
.mt55 {
  margin-top: 55px;
}
.mtn55 {
  margin-top: -55px;
}
.m64 {
  margin: 64px;
}
.mb64 {
  margin-bottom: 64px;
}
.mt64 {
  margin-top: 64px;
}
.mtn64 {
  margin-top: -64px;
}
.box-shadow {
  box-shadow: 0px 0px 8px 0px #bbb;
}
